@font-face {
  -fx-font-family: "Atkinson Hyperlegible Regular";
  src: url("/fonts/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  src: url("/fonts/AtkinsonHyperlegible-Bold.ttf");
}

.error-notification {
  -fx-background-color: notification-color;
  -fx-background-radius: 20px;
  -fx-padding: 20px;
  /*                      type      color         radius  spread offsets */
 -fx-effect: drop-shadow-effect;
}

.error-notification-text {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  -fx-font-size: 20px;
}

.info-notification-text {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  -fx-font-size: 20px;
}

.info-notification {
  -fx-background-color: notification-color;
  -fx-background-radius: 20px;
  -fx-padding: 20px;
  /*                      type      color         radius  spread offsets */
 -fx-effect: drop-shadow-effect;
}
