@font-face {
  -fx-font-family: "Atkinson Hyperlegible Regular";
  src: url("/fonts/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  src: url("/fonts/AtkinsonHyperlegible-Bold.ttf");
}

.coord-label {
  -fx-font-size: 18px;
  -fx-border-width: 0;
  -fx-background-color: transparent;
  -fx-font-family: "Atkinson Hyperlegible Bold";
}
.invalid-input {
  -fx-font-size: 18px;
  -fx-text-fill: invalid-text-color;
  -fx-border-width: 0;
  -fx-background-color: transparent;
  -fx-font-family: "Atkinson Hyperlegible Bold";
}
.coord-input {
  -fx-font-size: 18px;
  -fx-border-width: 0;
  -fx-background-color: transparent;
  -fx-font-family: "Atkinson Hyperlegible Bold";
}
.side-bar-coord-label {
}
.side-bar-coord-input {
}
.side-bar-header {
  -fx-font-size: 36;
  -fx-border-width: 0;
  -fx-background-color: transparent;
  -fx-font-family: "Atkinson Hyperlegible Bold";
}
