@font-face {
  -fx-font-family: "Atkinson Hyperlegible Regular";
  src: url("/fonts/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  src: url("/fonts/AtkinsonHyperlegible-Bold.ttf");
}

.section-header  {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  -fx-font-size: 24px;
  -fx-border-width: 2px 0px 0px 0px;
  -fx-border-color: rgb(0, 0, 0);
  -fx-border-insets: 16px 0 0 16px;
  -fx-padding: 0 0 0 10px;
}
.navigation-target {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  -fx-font-size: 20px;
}

.search-input {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  -fx-font-size: 18px;
}

.search-box {
  -fx-background-color: white;
  -fx-background-radius: 5px;
  -fx-padding: 5px;
  /*                      type      color         radius  spread offsets */
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 0.5, 5, 5);
}

.search-results {
  -fx-background-color: transparent;
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.search-result-text {
  -fx-font-family: "Atkinson Hyperlegible Regular";
  -fx-font-size: 18px;
}

.search-result-text-selected {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  -fx-font-size: 18px;
}

.search-result-box {
}

.search-result-box-selected {
    -fx-background: #D2E3FC;
    -fx-background-radius: 10px;
    -fx-background-color: #D2E3FC;
}

.list-view .scroll-bar:vertical,
.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.list-view .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
}


