@font-face {
  -fx-font-family: "Atkinson Hyperlegible Regular";
  src: url("/fonts/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  src: url("/fonts/AtkinsonHyperlegible-Bold.ttf");
}

.section-header  {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  -fx-font-size: 24px;
  -fx-border-width: 2px 0px 0px 0px;
  -fx-border-color: section-header-border-color;
  -fx-border-insets: 16px 0 0 16px;
  -fx-padding: 0 0 0 10px;
}
.navigation-target {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  -fx-font-size: 20px;
}

.navigation-target-box:hover {
  -fx-padding: 1px 5px 1px 20px ;
}
.navigation-target-box {
  -fx-background-radius: 20px;
  -fx-padding: 1px 5px 1px 25px ;
}

.search-input {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  -fx-font-size: 18px;
}

.search-box {
  -fx-background-color: search-body-color;
  -fx-background-radius: 5px;
  -fx-padding: 5px;
  -fx-effect: drop-shadow-effect;
}

.search {
  -fx-padding: 30px 30px 0px 10px;
}

.search-results {
  -fx-padding: 10 0px 0px 0px;
  -fx-background-color: transparent;
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.search-result-text {
  -fx-font-family: "Atkinson Hyperlegible Regular";
  -fx-font-size: 18px;
}

.search-result-text-selected {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  -fx-font-size: 18px;
}

.search-result-box {
    -fx-padding: 3px;
}

.search-result-box-selected {
    -fx-background: search-selected-color;
    -fx-background-radius: 10px;
    -fx-background-color: search-selected-color;
    -fx-padding: 3px;
}

.list-view .scroll-bar:vertical,
.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.list-view .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
}
