@font-face {
  -fx-font-family: "Atkinson Hyperlegible Regular";
  src: url("/fonts/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  src: url("/fonts/AtkinsonHyperlegible-Bold.ttf");
}

.font-bold {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  -fx-font-size: 18;
}

.font-reg {
  -fx-font-family: "Atkinson Hyperlegible Regular";
  -fx-font-size: 18;
}

.small-box {
  -fx-background-color: widget-background-color;
  -fx-background-radius: 24px;
  -fx-pref-width: 267px;
  -fx-pref-height: 267px;
}

.compass-body {
  -fx-border-width: 10px;
  -fx-border-insets: -7px;
  -fx-border-color: widget-border-color;
}

.compass-marks {
  -fx-background-color: compass-background-color;
  -fx-border-width: 3px;
  -fx-border-color: compass-tickline-color;
}

.compass-north {
  -fx-border-width: 3px;
  -fx-border-color: compass-north-color;
}

.compass-needle {
  -fx-background-color: compass-needle-color;
}

.pressure-body {
  -fx-background-color: pressure-body-color;
  -fx-border-width: 3px;
  -fx-border-color: widget-border-color;
}

.pressure-meter {
  -fx-background-color: pressure-background-color;
  -fx-border-width: 1px;
  -fx-border-color: pressure-feature-color;
}

.pressure-needle {
  -fx-background-color: pressure-needle-color;
  -fx-border-width: 1px;
  -fx-border-color: pressure-feature-color;
}

.pressure-label {
  -fx-background-color: pressure-label-color;
  -fx-border-width: 2px;
  -fx-border-color: widget-border-color;
}

.dewpoint-body {
  -fx-background-color: dewpoint-body-color;
  -fx-border-width: 3px;
  -fx-border-color: widget-border-color;
}

.dewpoint-fill {
  -fx-background-color: dewpoint-water-gradient;
}

.blank-black {
  -fx-background-color: widget-border-color;
}

.blank-mark {
  -fx-background-color: blank-background-color;
  -fx-border-width: 3px;
  -fx-border-color: widget-border-color;
}

.visibility-background {
  -fx-background-color: visibility-background-color;
}

.visibility-pupil {
  -fx-background-color: visibility-pupil-color;
  -fx-border-width: 3px;
  -fx-border-color: widget-border-color;
}

.visibility-squint {
  -fx-background-color: visibility-squint-color;
}

.visibility-eye {
  -fx-background-color: visibility-eye-color;
  -fx-border-width: 3px;
  -fx-border-color: widget-border-color;
}
