@font-face {
  -fx-font-family: "Atkinson Hyperlegible Regular";
  src: url("/fonts/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  src: url("/fonts/AtkinsonHyperlegible-Bold.ttf");
}

.font-bold {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  -fx-font-size: 18;
}

.font-reg {
  -fx-font-family: "Atkinson Hyperlegible Regular";
  -fx-font-size: 18;
}

.small-box {
  -fx-background-color: #F8F9FA;
  -fx-background-radius: 24px;
  -fx-pref-width: 267px;
  -fx-pref-height: 267px;
}

.compass-body {
  -fx-border-width: 10px;
  -fx-border-insets: -7px;
  -fx-border-color: black;
}

.compass-marks {
  -fx-background-color: #FFFFFF;
  -fx-border-width: 3px;
  -fx-border-color: #8A8A8A;
}

.compass-north {
  -fx-border-width: 3px;
  -fx-border-color: #750A02;
}

.compass-needle {
  -fx-background-color: #545454;
}

.pressure-body {
  -fx-background-color: #919191;
  -fx-border-width: 3px;
  -fx-border-color: #000000;
}

.pressure-meter {
  -fx-background-color: #FFFFFF;
  -fx-border-width: 1px;
  -fx-border-color: #8A8A8A;
}

.pressure-needle {
  -fx-background-color: #BA1818;
  -fx-border-width: 1px;
  -fx-border-color: #8A8A8A;
}

.pressure-label {
  -fx-background-color: #FFFFFF;
  -fx-border-width: 2px;
  -fx-border-color: #000000;
}

.dewpoint-body {
  -fx-background-color: #8A8A8A;
  -fx-border-width: 3px;
  -fx-border-color: #000000;
}

.dewpoint-fill {
  -fx-background-color: #4285F4;
}

.blank-black {
  -fx-background-color: #000000;
}

.blank-mark {
  -fx-background-color: #8A8A8A;
  -fx-border-width: 3px;
  -fx-border-color: #000000;
}

.visibility-background {
  -fx-background-color: #FFFFFF;
}

.visibility-squint {
  -fx-background-color: #8A8A8A;
}

.visibility-eye {
  -fx-background-color: #8A8A8A;
  -fx-border-width: 3px;
  -fx-border-color: #000000;
}
