.chart {
    -fx-background-color: white;
    -fx-padding: 30px;
    -fx-border-color: transparent;
}

.chart-plot-background {
    -fx-background-color: white;
}

.axis-tick-mark {
    -fx-stroke: transparent;
}

/*
* Line width
*/
.chart-series-area-line {    
    -fx-stroke-width: 8px;
}

/* Fill Color */
.temp-graph .default-color0.chart-series-area-fill { -fx-fill: #ffcc0022} 

/* Line color */
.temp-graph .default-color0.chart-series-area-line { -fx-stroke: #ffcc00; }

