.temperature-field {
  -fx-margin: 0;
}

.temperature-button {
  -fx-font-size: 24px;
}

.unit-separator {
  -fx-font-size: 32px;
  -fx-width: 10px;
}

.h-bar {
  -fx-border-width: 2px 0px 0px 0px;
  -fx-border-color: separator-bar-color;
}

.left-border {
  -fx-border-width: 0px 0px 0px 2px;
  -fx-border-color: separator-bar-color;
  -fx-border-insets: 0px 0px 0px 48px;
}
