@font-face {
  -fx-font-family: "Atkinson Hyperlegible Regular";
  src: url("/fonts/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  src: url("/fonts/AtkinsonHyperlegible-Bold.ttf");
}

.chart {
    -fx-background-color: transparent;
    -fx-padding: 30px;
    -fx-border-color: transparent;
}
.chart-title {
    -fx-font-family: "Atkinson Hyperlegible Bold";
    -fx-font-size: 20px;
}

.chart-backdrop {
  -fx-background-color: #F8F9FA;
  -fx-background-radius: 50px;
  -fx-font-size: 18px;
}


.chart-plot-background {
    -fx-background-color: transparent;
}

.axis-tick-mark {
    -fx-stroke: transparent;
}

/*
* Line width
*/
.chart-series-area-line {    
    -fx-stroke-width: 8px;
}

/* Fill Color */
.temp-graph .default-color0.chart-series-area-fill { -fx-fill: #ffcc0022} 

/* Line color */
.temp-graph .default-color0.chart-series-area-line { -fx-stroke: #ffcc00; }


/* Fill Color */
.humid-graph .default-color0.chart-series-area-fill { -fx-fill: #4285F422} 

/* Line color */
.humid-graph .default-color0.chart-series-area-line { -fx-stroke: #4285F4; }

