@font-face {
  -fx-font-family: "Atkinson Hyperlegible Regular";
  src: url("/fonts/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
  -fx-font-family: "Atkinson Hyperlegible Bold";
  src: url("/fonts/AtkinsonHyperlegible-Bold.ttf");
}

.chart {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.temp-graph{
    -fx-padding: 30px;
}

.temp-graph-small{
    -fx-padding: 10px;
}

.humid-graph {
    -fx-padding: 30px;
}

.chart-title {
    -fx-font-family: "Atkinson Hyperlegible Bold";
    -fx-font-size: 20px;
}

.chart-backdrop {
  -fx-background-color: graph-backdrop-color;
  -fx-background-radius: 50px;
  -fx-font-size: 18px;
}

.chart-backdrop-small {
  -fx-background-color: graph-backdrop-color;
}


.chart-plot-background {
    -fx-background-color: transparent;
}

.axis-tick-mark {
    -fx-stroke: transparent;
}

/*
* Line width
*/
.chart-series-area-line {    
    -fx-stroke-width: 8px;
}

/* Fill Color */
.temp-graph .default-color0.chart-series-area-fill { -fx-fill: temp-graph-area-fill-color; } 

/* Line color */
.temp-graph .default-color0.chart-series-area-line { -fx-stroke: temp-graph-area-line-color; }

/* Fill Color */
.temp-graph-small .default-color0.chart-series-area-fill { -fx-fill: temp-graph-area-fill-color; } 

/* Line color */
.temp-graph-small .default-color0.chart-series-area-line { -fx-stroke: temp-graph-area-line-color; }


/* Fill Color */
.humid-graph .default-color0.chart-series-area-fill { -fx-fill: humid-graph-area-fill-color; } 

/* Line color */
.humid-graph .default-color0.chart-series-area-line { -fx-stroke: humid-graph-area-line-color; }

