.temperature-field {
  -fx-margin: 0;
}

.temperature-button {
  -fx-font-size: 24px;
}

.unit-separator {
  -fx-font-size: 32px;
  -fx-width: 10px;
}

.short-forecast {
  -fx-border-insets: 16px 0 0 16px;
}

.forecast-box {
  -fx-border-width: 2px 0px 0px 0px;
  -fx-border-color: #9AA0A6;
}
